 main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  .title {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }

  .disable-text-selection {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
  }

  button {
    color: blue;
    border-block-color: pink;
    width: 100%;
    padding: 1px 6px;
    font: 400 13.3333px;
    border-width: 0.25rem;
    height: 5rem;
  }

  .fity {
    width: 50%;
    color: greenyellow;
  }

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color: #ffffff;
    background: #06303a;
    font-size: 0.5em;
    text-align: center;
    line-height: 100px;
  }
